*,
*::after,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 1px solid green;
}

body {
    background-color: $color-white;
}

.wrapper-body {
    padding: 0 80px;

    @include respoM {
        padding: 0 20px;
    }
}



.wrapper-pages {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 1920px;
    position: relative;

    @include respoM {
        border-left: none;
        border-right: none;
    }

    .line-vertical-page {
        height: 0;
        width: 1px;
        position: fixed;
        z-index: 60;
    }

    .line-vertical-page_left {
        top: 0;
        left: 80px;

        @include respoM {
            left: 20px;
        }

        @media screen and (min-width : 1920px) {
            left: calc((100vw - 1920px) / 2);
        }
    }

    .line-vertical-page_right {
        bottom: 0;
        right: 80px;

        @include respoM {
            right: 20px;
        }

        @media screen and (min-width : 1920px) {
            right: calc((100vw - 1920px) / 2);
        }
    }
}