h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-new-york;
  color: $color-black;
  font-weight: normal;
}

p,
span,
a {
  font-family: $font-roboto-light;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-white;
}

.links-array{
  color: $color-black;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-family: $font-roboto-light;
  font-size: 1.2rem;
  svg{
    margin-left: 5px;
    transition: all 0.3s ease;
  }
  &:hover{
    svg{
      transform: translateX(5px);
    }
  }
}

.links {
  position: relative;
  display: flex;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -2px;
    z-index: 1;
    transition: width 0.3s ease;
  }

  &:hover::before {
    width: 100%;
  }
}

.links_light {
  color: $color-white;
  &::before {
    background: $color-white;
  }
}
.links_dark {
  color: $color-black;
  &::before {
    background: $color-black;
  }
}

h1 {
  font-size: clamp(2rem, 4.5vw, 5rem);
  line-height: clamp(2rem, 4.5vw, 5rem);
}

h2 {
  font-size: clamp(1.5rem, 3vw, 4rem);
  line-height: clamp(1.5rem, 3vw, 4rem);
}